:root {
    --base-font-size: 18px;
    --theme-color: #298596;
    --content-max-width: 58em;
    --base-background-color: white;
    --base-font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    --strong-color: inherit;
    --navbar-menu-background: white;
    --sidebar-background: #094293;
    /* titulos h1... */
    --heading-h1-font-weight: bold;
    --heading-h2-font-weight: bold;
    --heading-h2-padding: 0;
    --heading-h3-padding: 0;
    --heading-h4-padding: 0;
    --heading-h5-padding: 0;
    --heading-font-weight: bold;
    --heading-h1-margin: 0rem;
    --heading-h2-border-width: 0;
    --heading-h2-margin: 2rem 0 1rem 0;
    --heading-h3-margin: 1.875rem 0 0 0;
    --heading-h4-margin: 1.75rem 0 0 0;
    --sidebar-toggle-background: #ceedef;
    --sidebar-toggle-icon-color: #298596; 
    --sidebar-toggle-border-color: transparent;
    --sidebar-toggle-offset-top: calc(45px - (var(--sidebar-toggle-height) / 2));
    --sidebar-nav-link-font-weight--hover: unset;
    --sidebar-nav-indent: 10px;
    --link-color: #284472;
    --zoomimage-overlay-background: rgba(229,254,255,0.75);
}

/*cuerpo */
body { 
    color: #062a5e;
    background: white
}
.markdown-section {
    padding-top: 5px;
}
article h1 {
    page-break-inside: auto;
    page-break-before: always;
    break-inside: auto;
    page-break-before: always;
}


/* Search bar*/
.search input:focus {
    box-shadow: none;
    border-color: #898d8f ;
}



/* Headings */
.app-nav:not(:empty) ~ main .markdown-section {
    padding-top: 6rem;
}

.markdown-section h1 {
    border-bottom: 3px solid #298596;
    margin-bottom: 2rem;
}
.markdown-section h1 a>span {
    color: #01295c;
}
.markdown-section h1 a:hover {
    color: #01295c;
    cursor: pointer;
}
.markdown-section h1 a:hover,
.markdown-section h2 a:hover,
.markdown-section h3 a:hover,
.markdown-section h4 a:hover,
.markdown-section h5 a:hover {
    text-decoration: none !important;
}
.markdown-section .anchor span {
    color: #01295c;
}
.markdown-section kbd {
    position: relative;
    top: -0.15rem;
    font-size: 0.75rem;
    border-left-width: 2px;
    border-right-width: 3px;
    border-bottom-width: 4px;
    border-bottom-color: #cbcbcb;
    border-radius: 3px;
}
.markdown-section .warn {
    margin: 1rem 0;
}

/* Sidebar */
.sidebar ul li a {    
    padding: 6px 0;
    line-height: normal;
    text-overflow: initial;
    white-space: normal;
}
.sidebar ul li a,
.sidebar ul li p {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}
.sidebar ul li ul a,
.sidebar ul li ul p {
    font-size: 0.8rem;
    font-weight: 400;
}
.sidebar ul li.active > a {
    border-right: 4px solid;
}
.sidebar ul li ul {
    margin-bottom: 14px;
}
.sidebar ul li .emoji {
    font-size: 1rem;
}

/* Content ----------------------- */

/* MEDIUM IMAGES PLUGIN */
.medium-zoom-image.medium-zoom-image--opened {
    z-index: 99;
}
img.medium-zoom-image {
    height: auto;
}

/* TABLE */
.content .markdown-section table {
    font-size: 0.875rem;
}
.content .markdown-section table thead th {
    border: 1px solid  #062a5e;
    border-bottom: 1px solid #062a5e;
    text-align: left;
}
.content .markdown-section table thead tr {
    border: 1px solid #062a5e;
    background:#298596;
}
.content .markdown-section table td {
    border: 1px solid #062a5e;
    border-left: 1px solid #062a5e;
    border-right: 1px solid #062a5e;
    background:#e5feff
}
/* enumeracion circular (copiado) */
/* UL LI not so special style */
.content .markdown-section ul label h1, 
.content .markdown-section ol label h1,
.content .markdown-section ul label h2, 
.content .markdown-section ol label h2,
.content .markdown-section ul label h3, 
.content .markdown-section ol label h3,
.content .markdown-section ul label h4, 
.content .markdown-section ol label h4,
.content .markdown-section ul label h5, 
.content .markdown-section ol label h5
.content .markdown-section ul label h6, 
.content .markdown-section ol label h6 {
	display: inline;
}
.content .markdown-section ul .task-list-item input, 
.content .markdown-section ol .task-list-item input {
	vertical-align: -0.125em;
}
.content .markdown-section ul:not(.task-list), 
.content .markdown-section .content .markdown-section ul:not(.task-list) {
	margin: .5em 0 .6em 0em;
	list-style: none;
}
.content .markdown-section ul:not(.task-list)>li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list)>li:before {
	content: '\25a0';
	padding-right: 0.75rem;
	color: #01295c;
}
.content .markdown-section ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ul:not(.task-list) li:before,
.content .markdown-section ol li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ul:not(.task-list) li:before {
	content: '\25a1';
	padding-right: 0.75rem;
	color: #01295c;
}
.content .markdown-section ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li:before,
.content .markdown-section ul:not(.task-list) li ol li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ol li ul:not(.task-list) li:before,
.content .markdown-section ol li ol li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ol li ul:not(.task-list) li:before,
.content .markdown-section ol li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ul:not(.task-list) li ul:not(.task-list) li:before {
	content: '\23fa';
	padding-right: 0.75rem;
	color: #298596;
}
.content .markdown-section ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li:before,
.content .markdown-section ul:not(.task-list) li ol li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ol li ul:not(.task-list) li ul:not(.task-list) li:before,
.content .markdown-section ol li ol li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ol li ul:not(.task-list) li ul:not(.task-list) li:before,
.content .markdown-section ol li ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ul:not(.task-list) li ul:not(.task-list) li ul:not(.task-list) li:before,

.content .markdown-section ul:not(.task-list) li ul:not(.task-list) li ol li ul:not(.task-list) li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ul:not(.task-list) li ol li ul:not(.task-list) li:before,
.content .markdown-section ul:not(.task-list) li ol li ol li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ul:not(.task-list) li ol li ol li ul:not(.task-list) li:before,
.content .markdown-section ol li ol li ol li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ol li ol li ul:not(.task-list) li:before,
.content .markdown-section ol li ul:not(.task-list) li ol li ul:not(.task-list) li:before, 
.content .markdown-section .content .markdown-section ol li ul:not(.task-list) li ol li ul:not(.task-list) li:before {
	content: '\1f786';
	padding-right: 0.75rem;
	color: #298596;
}
/* Lista a cuadros (coiado) */
/* OL LI special style */
.content .markdown-section li:before,
.content .markdown-section .content .markdown-section li:before {
	color: #298596;
	font-weight: 600;
}
.content .markdown-section ol,
.content .markdown-section .content .markdown-section ol {
	padding: 0;
	counter-reset: li-counter;
	margin: 2em 0 1em 2em;
	list-style-type: none;
}
.content .markdown-section ol>li ,
.content .markdown-section .content .markdown-section ol>li {
    position: relative;
    margin-bottom: 14px;
    padding-left: 1.5em;
    min-height: 3em;
}
.content .markdown-section ol>li:before,
.content .markdown-section .content .markdown-section ol>li:before {
    position: absolute;
    top: -4px;
    left: -1.33em;
    width: 2.0rem;
    height: 2.0rem;
    font-size: 1.0rem;
    line-height: 2.0rem;
    text-align: center;
	color: #f5f5f5;
	border-radius: 50%;
	background-color: #4ea2ad;
	content: counter(li-counter);
	counter-increment: li-counter;
	font-weight: 600;
}
/* Second Level */
.content .markdown-section ol>li>ol,
.content .markdown-section ul:not(.task-list)>li>ol,
.content .markdown-section ol>li>ol>li>ol,
.content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol,
.content .markdown-section ol>li>ul:not(.task-list)>li>ol 
.content .markdown-section .content .markdown-section ol>li>ol,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ol,
.content .markdown-section .content .markdown-section ol>li>ol>li>ol,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol,
.content .markdown-section .content .markdown-section ol>li>ul:not(.task-list)>li>ol {
	padding: 0;
	counter-reset: li-counter;
	margin: 0.75em 0 0.6em 0.25em;
	list-style-type: none;
}
.content .markdown-section ol>li>ol>li,
.content .markdown-section ul:not(.task-list)>li>ol>li,
.content .markdown-section ol>li>ol>li>ol>li,
.content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol>li,
.content .markdown-section ol>li>ul:not(.task-list)>li>ol>li, 
.content .markdown-section .content .markdown-section ol>li>ol>li,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ol>li,
.content .markdown-section .content .markdown-section ol>li>ol>li>ol>li,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol>li,
.content .markdown-section .content .markdown-section ol>li>ul:not(.task-list)>li>ol>li {
    position: initial;
    margin-bottom: initial;
    padding-left: initial;
    min-height: initial;
}
.content .markdown-section ol>li>ol>li:before,
.content .markdown-section ul:not(.task-list)>li>ol>li:before,
.content .markdown-section ol>li>ol>li>ol>li:before,
.content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol>li:before,
.content .markdown-section ol>li>ul:not(.task-list)>li>ol>li:before,
.content .markdown-section .content .markdown-section ol>li>ol>li:before,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ol>li:before,
.content .markdown-section .content .markdown-section ol>li>ol>li>ol>li:before,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol>li:before,
.content .markdown-section .content .markdown-section ol>li>ul:not(.task-list)>li>ol>li:before {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    font-size: initial;
    line-height: initial;
    text-align: initial;
	color: #298596;
	border-radius: initial;
	background-color: initial;
	content: counter(li-counter, lower-alpha);
	counter-increment: li-counter;
	font-weight: 600;
	padding-right: 1rem;
}
.content .markdown-section ol>li>ol>li:before,
.content .markdown-section ul:not(.task-list)>li>ol>li:before,
.content .markdown-section .content .markdown-section ol>li>ol>li:before,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ol>li:before  {
	content: counter(li-counter, lower-alpha);
}
.content .markdown-section ol>li>ol>li>ol>li:before,
.content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol>li:before,
.content .markdown-section ol>li>ul:not(.task-list)>li>ol>li:before,
.content .markdown-section .content .markdown-section ol>li>ol>li>ol>li:before,
.content .markdown-section .content .markdown-section ul:not(.task-list)>li>ul:not(.task-list)>li>ol>li:before,
.content .markdown-section .content .markdown-section ol>li>ul:not(.task-list)>li>ol>li:before {
	content: counter(li-counter, lower-roman);
}

